Repository waku-org/go-waku, pull requests merged in 2023-08, with the labels that each got.

#627 Fix/data races
  Makefile
  ci/Jenkinsfile.tests
  examples/basic2/go.mod
  examples/basic2/go.sum
  examples/noise/go.mod
  examples/noise/go.sum
  waku/v2/peermanager/discovery_connector.go
  waku/v2/protocol/filter/client.go
  waku/v2/protocol/noise/pairing_relay_messenger.go
  waku/v2/rendezvous/rendezvous.go
  waku/v2/rendezvous/rendezvous_test.go
Labels: E:2023-qa

#631 feat: support serviceslots in peermanager
  cmd/waku/node.go
  flake.nix
  go.mod
  go.sum
  waku/v2/node/wakunode2.go
  waku/v2/node/wakuoptions_test.go
  waku/v2/peermanager/discovery_connector.go
  waku/v2/peermanager/peer_manager.go
  waku/v2/peermanager/test/peer_manager_test.go
  waku/v2/protocol/filter/client.go
  waku/v2/protocol/filter/filter_test.go
  waku/v2/protocol/filter/options.go
  waku/v2/protocol/lightpush/waku_lightpush.go
  waku/v2/protocol/lightpush/waku_lightpush_option.go
  waku/v2/protocol/lightpush/waku_lightpush_test.go
  waku/v2/protocol/peer_exchange/client.go
  waku/v2/protocol/peer_exchange/protocol.go
  waku/v2/protocol/peer_exchange/waku_peer_exchange_option.go
  waku/v2/protocol/peer_exchange/waku_peer_exchange_test.go
  waku/v2/protocol/store/waku_resume_test.go
  waku/v2/protocol/store/waku_store_client.go
  waku/v2/protocol/store/waku_store_common.go
  waku/v2/protocol/store/waku_store_persistence_test.go
  waku/v2/protocol/store/waku_store_protocol_test.go
  waku/v2/protocol/store/waku_store_query_test.go
  waku/v2/utils/peer.go
  waku/v2/utils/test/peer_test.go
Labels: E:2023-peer-mgmt

#637 refactor: move --generate-key to a generate-key subcommand
  cmd/waku/flags.go
  cmd/waku/keygen/command.go
  cmd/waku/keygen/flags.go
  cmd/waku/keygen/options.go
  cmd/waku/main.go
  cmd/waku/node.go
  cmd/waku/node_no_rln.go
  cmd/waku/node_rln.go
  cmd/waku/options.go
Labels: E:2023-qa

#636 refactor: remove unused function and simplify code related to creating db and migrations
  cmd/waku/rest/utils_test.go
  waku/persistence/postgres/postgres.go
  waku/persistence/sqlite/sqlite.go
  waku/persistence/store.go
  waku/persistence/utils/db.go
  waku/v2/node/connectedness_test.go
  waku/v2/node/wakunode2_test.go
  waku/v2/protocol/store/utils_test.go
  waku/v2/rendezvous/rendezvous_test.go
Labels: E:2023-qa

#632 chore: keepAlive peer disconnecting peers only on ping failure
  waku/v2/node/keepalive.go
  waku/v2/node/keepalive_test.go
Labels: E:2023-qa

#635 refactor: remove enc_publish functions and create separate encoding functions instead
  examples/c-bindings/main.c
  library/c/README.md
  library/c/api.go
  library/c/api_encoding.go
  library/c/api_lightpush.go
  library/c/api_relay.go
  library/encoding.go
  library/lightpush.go
  library/mobile/api.go
  library/mobile/api_encoding.go
  library/mobile/api_lightpush.go
  library/mobile/api_relay.go
  library/node.go
  library/relay.go
Labels: E:2023-many-platforms

#617 feat(rln-relay): use batch operations API
  flake.nix
  go.mod
  go.sum
  waku/v2/protocol/rln/group_manager/dynamic/dynamic.go
  waku/v2/protocol/rln/group_manager/dynamic/handler_test.go
  waku/v2/protocol/rln/group_manager/static/static.go
Labels: E:2023-rln

#646 fix: race condition in peermgt initialization reported by race detector
  waku/v2/node/wakunode2.go
Labels: E:2023-peer-mgmt

#650 fix: relay peer calculation
  waku/v2/peermanager/peer_manager.go
Labels: E:2023-peer-mgmt

#630 feat: merkle tree persistence
  cmd/waku/flags.go
  cmd/waku/flags_rln.go
  cmd/waku/node_rln.go
  cmd/waku/options.go
  examples/basic2/go.mod
  examples/basic2/go.sum
  examples/chat2/chat.go
  examples/chat2/flags.go
  examples/chat2/go.mod
  examples/chat2/go.sum
  examples/filter2/go.mod
  examples/filter2/go.sum
  examples/noise/go.mod
  examples/noise/go.sum
  examples/rln/go.mod
  examples/rln/go.sum
  flake.nix
  go.mod
  go.sum
  waku/v2/node/wakunode2.go
  waku/v2/node/wakunode2_rln.go
  waku/v2/node/wakuoptions.go
  waku/v2/node/wakuoptions_rln.go
  waku/v2/protocol/rln/group_manager/dynamic/dynamic.go
  waku/v2/protocol/rln/group_manager/dynamic/handler_test.go
  waku/v2/protocol/rln/group_manager/dynamic/metadata.go
  waku/v2/protocol/rln/group_manager/dynamic/web3.go
  waku/v2/protocol/rln/group_manager/static/static.go
  waku/v2/protocol/rln/onchain_test.go
  waku/v2/protocol/rln/rln_relay_test.go
  waku/v2/protocol/rln/waku_rln_relay.go
Labels: E:2023-rln

#672 chore(rln-relay): rename keystore application to `waku-rln-relay`
  waku/v2/protocol/rln/group_manager/dynamic/dynamic.go
Labels: E:2023-rln

#670 fix(rln-relay): RLN DB should be aware of chain and contract address
  waku/v2/protocol/rln/group_manager/dynamic/dynamic.go
  waku/v2/protocol/rln/group_manager/dynamic/handler_test.go
  waku/v2/protocol/rln/group_manager/dynamic/metadata.go
  waku/v2/protocol/rln/group_manager/dynamic/metadata_test.go
  waku/v2/protocol/rln/group_manager/dynamic/web3.go
Labels: E:2023-rln

#666 feat: rln metrics
  waku/v2/node/wakunode2_rln.go
  waku/v2/protocol/rln/group_manager/dynamic/dynamic.go
  waku/v2/protocol/rln/group_manager/dynamic/handler_test.go
  waku/v2/protocol/rln/group_manager/dynamic/metrics.go
  waku/v2/protocol/rln/group_manager/root_tracker.go
  waku/v2/protocol/rln/metrics.go
  waku/v2/protocol/rln/onchain_test.go
  waku/v2/protocol/rln/rln_relay_test.go
  waku/v2/protocol/rln/waku_rln_relay.go
Labels: E:2023-rln

#687 fix(discv5): threadsafe peerCh
  waku/v2/discv5/discover.go
Labels: E:2023-qa
